html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* .app {
   width: 960px;
  margin: 0 auto;
  padding: 20px; 
} */


.landing-title {
  font-size: 5vw;
  font-family: 'Rubik Mono One';
  text-align:center;
  padding-top: 35vh;
}

.landing-title-quiz {
  display: inline-block;
  color: #ee4e34;
  margin-right: 2%;
}

.landing-title-moment {
  display: inline-block;
}

.landing-subtitle {
  border: 0px;
  background-color: white;
  font-size: 2.5vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
  margin-bottom: 0.5%;
  font-family: 'Lilita One';
  text-align: center;
  text-decoration: none;
  color: black;
}

.landing-subtitle-alt {
  color: #ee4e34 !important;
}

.login-title {
  font-size: 55px;
  font-family: 'Rubik Mono One';
  text-align:center;
}

.login-title-quiz {
  display: inline-block;
  color: #ee4e34;
  margin-right: 20px;
}

.login-title-moment {
  display: inline-block;
}

.login-form {
  background-color: #FCEDDA;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  text-align: left;
  padding-top: 10px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin-top: 300px;
  color:#ee4e34;
}

.login-text {
  font-family: 'Lilita One';
  font-size: 35px;
}

.login-form-title {
  font-family: 'Lilita One';
  font-size: 40px;
  margin-bottom: 80px;
  text-align: center !important;
}

.login-input {
  border-radius: 5px;
  width: 100%;
  border-style: hidden;
  height: 30px;
  margin-bottom: 10px;
  font-size: 20px;
  padding-left: 5px;
}

.login-button {
  background-color: #FCEDDA;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: 'Lilita One';
  color: #ee3e34;
  border-width: 0px;
  font-size: 35px;
  margin-bottom: 80px;
}

.login-reroute {
  text-decoration: none;
  color: #ee3e34;
  font-family: 'Lilita One';
  margin-left: 34%;
  margin-top: 50px;
}

.signup-reroute {
  text-decoration: none;
  color: #ee3e34;
  font-family: 'Lilita One';
  margin-left: 27%;
  margin-top: 50px;
}